@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
<div id="home-header">
    <div id="banner-img-btn">
        <img id="banner-img" src="../images/banner2.jpeg">
        <h1 id="appName"><b>Genius Trading</b></h1>
        <li><a id="register-btn" asp-area="" asp-controller="Home" asp-action="Register">Register</a></li>
    </div>
</div>
<div id="main-content">
    <h1 id="message"><b>Join our Esteemed Members Today!</b></h1>
    <br>
    <div class="block" style=" color: white">
        <p><b>Make Money!</b></p>
    </div>
    <div class="block" style="">
        <p><b>Lose Money!</b></p>
    </div>
    <div class="block" style="color: red">
        <p><b>Put Your faith in the experts at Wall Street Bets!</b></p>
    </div>
</div>


