<h1>Register Page</h1>
<div id="reg-form">
    <form>
        <h4><b>Email</b></h4>
        <br>
        <input id="email-txt" type="text" name="email">
        <br>
        <br>
        <h4><b>Password</b></h4>
        <br>
        <input id="password-txt" type="text" name="password">
        <br>
        <br>
        <h4><b>First Name</b></h4>
        <br>
        <input id="fname-txt" type="text" name="fname">
        <br>
        <h4><b>Last Name</b></h4>
        <br>
        <input id="lname-txt" type="text" name="lname">
        <br>
        <br>
        <h4><b>Confirm Password</b></h4>
        <br>
        <input id="password-txt" type="text" name="cpassword">
        <br>
        <br>
        <input type="submit">
    </form>
</div>