@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Rock+Salt&display=swap" rel="stylesheet">
<div class="register-box">
    <img class="banner-img" src="../images/banner2.jpeg">
    <a id="register-btn" asp-area="" asp-controller="Home" asp-action="Register">Register</a>
</div>
<div id="main-content">
    <h1 id="message"><b>Join our Esteemed Members Today!</b></h1>
    <br>
    <div class="block" style=" color: white">
        <p><b>Make Money!</b></p>
    </div>
    <div class="block" style="">
        <p><b>Lose Money!</b></p>
    </div>
    <div class="block" style="color: red">
        <p><b>Put Your faith in the experts at Wall Street Bets!</b></p>
    </div>
</div>


