@{
    ViewData["Title"] = "Home Page";
}
<div id="home-header">
    <div id="banner-img-btn">
        <img id="banner-img" src="http://betterbestnetwork.com/wp-content/uploads/bfi_thumb/money-tree-kpq9tq2alfypz3k56ol988ntrin5u43kbnd4mmaxpo-n0mq5qs5rhsh5gp3zzxq297qoccsj2ibxp8a9vk4ks.jpg">
        <li><a id="register-btn" asp-area="" asp-controller="Home" asp-action="Register">Register</a></li>
    </div>
</div>
<div id="main-content">
    <div class="block" style="background-image: url(../images/ballin.jpg); color: white">
        <p><b>Make Money!</b></p>
    </div>
    <div class="block" style="background-image: url(../images/ree.jpg)">
        <p><b>Lose Money!</b></p>
    </div>
    <div class="block" style="background-image: url(../images/wallstreetbets.jpg); color: red">
        <p><b>Put Your faith in the experts at Wall Street Bets!</b></p>
    </div>
</div>


